/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# byebug
.byebug_history

# Mac
.DS_Store

# dotenv
.env
*.local

.tool-versions
.ruby-version